$color:rgb(37, 37, 37);
body {
    background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
}

.container {
    display: grid;
    place-items: center;
}

.clock {
    margin-top: 5rem;
    border: .5rem solid $color;
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50%;
    .hour-hand,
    .minute-hand,
    .second-hand {
        position: absolute;
        width: 9rem;
        background-color: $color;
        margin-left: 1rem;
        transform-origin: 100%;
        border: 2px solid $color;
        transition: all .1s ease-in-out;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
    .hour-hand {
        width: 6rem;
        transform-origin: 100%;
        margin-left: 5rem;
        height: .4rem;
        border-radius: 5px;
    }
    .minute-hand {
        width: 7rem;
        height: 0.3rem;
        border-radius: 5px;
        margin-left: 3rem;
    }
    .second-hand {
        width: 9rem;
        // height: 0.3rem;
        border-radius: 5px;
        margin-left: 1rem;
    }
    .center {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-left: 9.5rem;
        background-color: $color;
    }
}